<h1>Supporter#index</h1>
<p>Find me in app/views/supporter/index.html.erb</p>

<h1>I wrote this!</h1>

<%= link_to 'Support Requests', controller: 'articles' %>

<%= link_to 'New Request', new_article_path %>
